.left-section {
    background-color: #ea9d2a; /* Yellow color */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
}

.left-section img {
    max-width: 70%;
    max-height: 80%;
    object-fit: cover;
    display: block; /* Ensure the image is treated as a block element */
    margin: auto; /* Center the image */
}
